.App {
  display: grid;
  padding: 0 70px; /* 0 for top & bottom, 70px for left & right */
  grid-template-rows: auto 1fr auto; /* Header, content, footer layout */
  grid-gap: 20px; /* Gap between grid items */
}